---
import Header from "../components/Header.astro";
import { Image } from "astro:assets";
import hvalhaj from "../assets/images/hvalhaj.webp";
import delfin from "../assets/images/delfin.webp";
import søhest from "../assets/images/søhest.webp";
import vandmand from "../assets/images/vandmand.webp";
import skilpadde from "../assets/images/skilpadde.webp";
import nemobig from "../assets/images/nemobig.webp";
import nemosmall from "../assets/images/nemosmall.webp";
import rokke from "../assets/images/rokke.webp";
import gulfisk from "../assets/images/gulfisk.webp";
import blur from "../assets/images/blur.webp";
---

<section
  class="bg-dark-graphite bg relative w-full h-screen overflow-hidden h-[60rem]"
>
  <div class="px-4 py-4">
    <Header />
  </div>
  <div class="px-44 py-56">
    <h1
      class="text-plastic-red text-h1-d font-primary flex justify-center text-center leading-none"
    >
      Sæt en stopper for engangsplast og værn om vores planet
    </h1>
    <h2
      class="flex justify-center text-center text-plastic-red text-h3-d font-primary pt-8 leading-tight"
    >
      <em> Hjælp med at holde disse dyr i live; </em>
    </h2>
    <h2
      class="flex justify-center text-center text-plastic-red text-h3-d font-primary leading-tight"
    >
      <em> Vi har ikke en fremtid uden dem.</em>
    </h2>
  </div>

  <div class="">
    <!-- Dolphin -->
    <Image
      src={delfin}
      class="delfin absolute top-8 w-1/5 animate-slide-right1 delay-[7000ms] dolphin-animation"
      alt="Dolphin"
    />
    <!-- Whale Shark -->
    <Image
      src={hvalhaj}
      alt="Hvalhaj"
      class="absolute top-0 left-16 w-1/2 animate-slide-in1 delay-[8000ms] jellyfish-animation"
    />

    <!-- Yellow fishes -->
    <Image
      src={gulfisk}
      class="gulfisk absolute top-40 w-1/8 animate-slide-in2 delay-[9000ms]"
      alt="Gule fisk"
    />
    <!-- Seahorse -->
    <Image
      src={søhest}
      class="absolute top-1/4 left-4 w-1/12 animate-slide-left1 delay-[7000ms]"
      alt="Seahorse"
    />
    <!-- Jellyfish -->
    <Image
      src={vandmand}
      class="absolute top-1/4 right-0 w-1/8 animate-slide-right2 delay-[7000ms] jellyfish-animation"
      alt="Jellyfish"
    />
    <!-- Turtle -->
    <Image
      src={skilpadde}
      class="skilpadde absolute bottom-0 left-0 w-1/4 animate-slide-left2 delay-[7000ms] turtle-animation"
      alt="Turtle"
    />

    <!-- Clownfish big -->
    <Image
      src={nemobig}
      class="nemobig absolute bottom-0 right-1/3 w-1/10 animate-slide-in5 delay-[5000ms]"
      alt="Clownfish"
    />

    <!-- Clownfish small-->
    <Image
      src={nemosmall}
      class="absolute bottom-0 left-96 w-1/10 animate-slide-in4 delay-[9000ms] dolphin-animation"
      alt="Clownfish"
    />

    <!-- Manta Ray -->
    <Image
      src={rokke}
      class="rokke absolute bottom-12 right-16 w-1/4 animate-slide-in3 delay-[9000ms]"
      alt="Manta Ray"
    />
  </div>
  <div>
    <Image src={blur} class="absolute blur" alt="overgang" />
  </div>
</section>

<style>
  .bg {
    background-image: url(/sektion1_bg.webp);
  }

  .rokke {
    bottom: 4%;
  }

  .skilpadde {
    bottom: -24%;
  }

  .gulfisk {
    right: 35%;
  }

  .nemobig {
    bottom: -16%;
  }

  .blur {
    z-index: 20;
    bottom: -22%;
  }

  /* Define slide-in and float animations in one CSS rule */
  @keyframes slide-in {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes float-horizontal {
    0%,
    100% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(0px);
    }
  }

  /* Apply both animations to the turtle */
  .turtle-animation {
    animation:
      slide-in 5s ease-out forwards,
      float-horizontal 3s ease-in-out 1s infinite;
  }

  @keyframes swim-across {
    0% {
      transform: translateX(-500px); /* Start off-screen to the left */
    }
    50% {
      transform: translateX(100vw); /* Move off-screen to the right */
    }
    100% {
      transform: translateX(-500px); /* Loop back to the start position */
    }
  }

  .dolphin-animation {
    animation: swim-across 20s linear infinite; /* Adjust duration as desired */
  }

  @keyframes float-up-down {
    0%,
    100% {
      transform: translateY(0); /* Start and end in the same position */
    }
    50% {
      transform: translateY(-20px); /* Move up 20px */
    }
  }

  .jellyfish-animation {
    animation: float-up-down 4s ease-in-out infinite; /* Adjust duration as needed */
  }
</style>
