---
import { Image } from "astro:assets";
import blåfisk from "../assets/images/blåfisk.webp";
import rødpose from "../assets/images/rødpose.webp";
import blåflaske from "../assets/images/blåflaske.webp";
import pinkpose from "../assets/images/pinkpose.webp";
import blåpose1 from "../assets/images/blåpose1.webp";
import blåpose2 from "../assets/images/blåpose2.webp";
import grønflaske from "../assets/images/grønflaske.webp";
import blåpose3 from "../assets/images/blåpose3.webp";
import stribetpose from "../assets/images/stribetpose.webp";
import skilpadde2 from "../assets/images/skildepadde2.webp";
import grønpose from "../assets/images/grønpose.webp";
import storpose from "../assets/images/storpose.webp";
import blur from "../assets/images/blur.webp";
---

<section
  class="bg-dark-graphite pb-96 bg bg-cover bg-center relative overflow-hidden height-auto"
>
  <div>
    <Image src={blur} class="absolute blur" alt="overgang" />
  </div>
  <div class="px-44 py-56 fade-animation fade-in-section">
    <h1
      class="text-white text-h2-d font-primary flex justify-center text-center leading-tight"
    >
      Plastikforurening er ophobningen af plastik i miljøet. Engangsplast er det
      vi producerer mest af af alt plastik på verdensplan, og det ender ofte i
      vores have og forstyrrer dyr og planter.
    </h1>
  </div>
  <div class="parallaxelement">
    <Image src={blåfisk} alt="blå plastik fisk" class="absolute w-1/8" />
  </div>

  <!-- Floating Elements -->
  <div class="h-[120rem] parallaxgrafik fullwidthsection">
    <!-- rødpose -->
    <Image
      src={rødpose}
      class="rødpose absolute w-1/3 parallaxgrafik3"
      alt="rødpose"
    />

    <!-- blå falske 1 -->
    <Image
      src={blåflaske}
      class="rødpose absolute w-1/3 left-32 parallaxgrafik2"
      alt="blåflaske"
    />

    <!-- pinkpose-->
    <Image
      src={pinkpose}
      class="rødpose absolute w-1/3 right-0 top-12 parallaxgrafik4"
      alt="pinkpose"
    />

    <!-- blåpose 1-->
    <Image
      src={blåpose1}
      class="blåpose absolute w-1/3 right-32"
      alt="blåpose1"
    />

    <!-- blåpose 2-->
    <Image
      src={blåpose2}
      class="blåpose2 absolute w-1/2 right-0"
      alt="blåpose2"
    />

    <!-- grønflaske 1-->
    <Image
      src={grønflaske}
      class="grønflaske absolute w-1/3 parallaxgrafik3"
      alt="grønflaske"
    />

    <!-- blåpose 3-->
    <Image src={blåpose3} class="blåpose3 absolute w-1/3" alt="blåpose3" />

    <!-- stribet pose-->
    <Image
      src={stribetpose}
      class="stribetpose absolute w-1/3"
      alt="stribetpose"
    />

    <!-- skildpadde-->
    <Image
      src={skilpadde2}
      class="skilpadde absolute w-1/2 parallaxelement1"
      alt="skilpadde"
    />

    <!-- grønflaske 2-->
    <Image
      src={grønflaske}
      class="grønflaske2 absolute w-1/3 parallaxgrafik3"
      alt="grønflaske"
    />

    <!-- blå falske 2 -->
    <Image
      src={blåflaske}
      class="blåflaske absolute w-1/3 parallaxgrafik3"
      alt="blåflaske2"
    />

    <!-- grønpose 2-->
    <Image
      src={grønpose}
      class="grønpose absolute w-1/3 right-0 parallaxgrafik2"
      alt="grønpose"
    />

    <!-- big bag-->
    <Image
      src={storpose}
      class="grønpose storpose absolute right-0 parallaxgrafik1"
      alt="storpose"
    />
  </div>
</section>

<style>
  .bg {
    background-image: url(/sektion2.webp);
  }

  .rødpose {
    top: 50%;
  }

  .blåpose {
    top: 46%;
  }

  .blåpose2 {
    top: 62%;
  }
  .blåpose3 {
    top: 64%;
  }

  .grønflaske {
    right: -20%;
    top: 70%;
  }

  .grønflaske2 {
    top: 64%;
  }

  .stribetpose {
    top: 60%;
    left: 20%;
  }

  .skilpadde {
    top: 54%;
  }

  .grønpose {
    top: 74%;
    right: 16%;
  }

  .blåflaske {
    top: 84%;
    right: -10%;
  }

  .storpose {
    width: 80%;
    left: 15%;
  }

  .blur {
    z-index: 20;
    top: -5%;
  }

  @keyframes fade-in-out {
    0%,
    50% {
      opacity: 0; /* Fully transparent */
    }
    100% {
      opacity: 1; /* Fully opaque */
    }
  }

  /* Applying the animation to an element */
  .fade-animation {
    animation: fade-in-out 6s ease-in-out;
  }
</style>
<script>
  /* Import af Motion One biblioteket */
  import { animate, scroll } from "motion";

  /* Parallax med tekstboks */
  scroll(animate(".parallaxelement", { x: [1400] }), {
    target: document.querySelector(".parallaxelement"),
  });

  /* Parallax med skilpadde */
  scroll(animate(".parallaxelement1", { x: [1000, -100] }), {
    target: document.querySelector(".parallaxelement1"),
  });

  /* Parallaxgrafik */
  scroll(animate(".parallaxgrafik1", { y: [800, -300] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik2", { y: [600, -500] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik3", { x: [100, -200] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik4", { x: [-100, 200] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  // Select all elements with the 'fade-in-section' class
  const fadeInSections = document.querySelectorAll(".fade-in-section");

  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("fade-animation"); // Add the animation class
          observer.unobserve(entry.target); // Stop observing once the animation has started
        }
      });
    },
    { threshold: 0.5 }
  ); // Trigger when 50% of the section is visible

  fadeInSections.forEach((section) => {
    observer.observe(section);
  });
</script>
